/* 
Title:		Forms stylesheet
Description:	Form specific styles
Created:	19/06/2009
Modified:	19/06/2009
*/

/* redefine form specific xhtml selectors
---------------------------------------------------------- */

form {
    margin: 0;
    padding: 0;
}

form p {

}

label {
	font-weight: bold;
	color: #4c4c4c;
	margin: 0px;
	padding: 0px;
}

fieldset {
	float: left;
	background-color: #eae9e9;
	margin: 0px;
	padding: 0px;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 700px;
	border: none;
	display: inline;
}

fieldset p{
	margin: 0px;
	padding: 0px;
	margin-bottom: 20px !important;
}

fieldset h5{
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 11px;
	margin-bottom: 5px;
}

fieldset legend {

}

input, select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
}

select {

}

textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	border: 1px solid #c9c9c9;
	width: 736px;
	height: 125px;
	margin-top: 5px;
}

/* site form specific styles
---------------------------------------------------------- */


#header input.txt, #header input.form-text  {
	font-weight: bold !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	padding-top: 5px !important;
	padding-bottom: 6px !important;
	border: 1px solid #c8c8c8 !important;
	float: left !important;
}

#header input.btn, #header input.form-submit {
	background-color: #FFFFFF;
	border: none;
	font-family: "Helvetica", Verdana, Arial, sans-serif;
	color: #dd0324;
	font-size: 14px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	float: left;
	margin-top: 2px;
	margin-left: 10px;
	cursor: pointer;
}

#content input.txt{
	border: 1px solid #c9c9c9;
	height: 22px;
	margin-top: 5px;
	margin-bottom: 15px;
}

#content input.radio{
	margin-bottom: 2px;
	margin-top: 3px;
	margin-left: 0px;
	vertical-align: middle;
}

#content input.btn{
	background-image: url(img/bg_button.gif);
	background-repeat: repeat-x;
	height: 26px;
	color: #fff;
	text-transform: uppercase;
	border: none;
	font-weight: bold;
	font-family: "Helvetica", Verdana, Arial, sans-serif;
	font-size: 13px;
	cursor: pointer;
}

.S{
	width: 50px;
	vertical-align: middle;
}

.M{
	width: 195px;
}
#edit-query {
	width: 180px;
}

.L{
	width: 204px;
}

.XL{
	width: 330px;
}

.error {
	border: 1px solid #d90223;
}
