/* 
Title:		Layout stylesheet
Description:	Layout specific styles
Created:	19/06/2009
Modified:	19/06/2009
*/

/* background
---------------------------------------------------------- */

/* we need this div because of the IE8 background-position bug for body tags */

#background{
	float: left;
	width: 100%;
	height: 100%;
	background-image: url(img/bg_body.gif);
	background-repeat: repeat-x;
	background-position: bottom left;
}


/* page structure
---------------------------------------------------------- */

#container {
	margin-left: auto;
	margin-right: auto;
	padding-top: 12px;
	width: 970px;
	height: auto;
}

/* header
---------------------------------------------------------- */

#header {
	float: left;
	width: 970px;
}

#logo{
	float: left;
}

#related_info{
	float: right;
	width: 510px;
}

#related_info ul.dropdown{
	width: 228px;
}

#related_info ul.dropdown li{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 200px;
}

#related_info ul.dropdown li ul li{
	width: 228px;
}

#related_info ul.dropdown li ul li a{
	width: 200px;
}

#related_info form, {
	float: left;
}

#related_info form.search, #related_info form#google-cse-searchbox-form {
	margin-left: 9px;
	float: right;
	
}

#primary_links{
	float: left;
	margin: 0px;
	padding: 0px;
	margin-top: 12px;
	list-style-image: none;
	list-style-type: none;
	width: 510px;
	height: auto;
}

#primary_links li{
	background-image: url(img/bullet.gif);
	background-repeat: no-repeat;
	background-position: 0px 3px;
	color: #000000;
	padding-left: 25px;
	padding-bottom: 10px;
	float: left;
	width: 230px;
}

#primary_links li a{
	color: #000000;
	text-decoration: none;
}

#primary_links li a:hover{
	text-decoration: underline; 
}

#lang{
	float: right;
	margin: 0px;
	padding: 0px;
	list-style-image: none;
	list-style-type: none;
	display: inline;
	margin-top: -52px;
}

#lang li{
	color: #000;
	margin-top: 7px;
	text-align:right;
}

#lang li a{
	color: #000;
	text-decoration: none;
}

#lang li a:hover{
	text-decoration: underline;
}

#lang li a.active{
	color: #dd0324;
	text-decoration: none;
	font-weight: bold;
}


/* navigation
---------------------------------------------------------- */

#top{
	float: left;
	width: 970px;
	margin: 10px 0 0 0;
}

#nav {
	float: left;
	width: 970px;
	height: 47px;
	background-image: url(img/bg_nav.gif);
	background-repeat: repeat-x;
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	margin-top: 12px;
}

#nav li{
	float: left;
	background-image: url(img/bg_nav_item.gif);
	background-repeat: no-repeat;
	background-position: right top;
	height: 47px;
	text-transform:uppercase;
	color: #fff;
	font-size: 13px;
	font-family: "Helvetica", Verdana, Arial, sans-serif;
}

#nav li a{
	float: left;
	height: 30px;
	text-decoration: none;
	color: #fff;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 17px;
}

#nav li a:hover{
	color: #cccccc;
}


#nav li a.active{
	border-bottom: 8px solid #d90223;
}

/* banner 
---------------------------------------------------------- */

#banner{
	float: left;
	width: 970px;
}

#banner .banner_left{
	width: 214px;
	height: 228px;
	float: left;
	border-top: 1px solid #c3c3c3;
	border-left: 1px solid #c3c3c3;
	border-right: 1px solid #c3c3c3;
	margin: 0px;
	padding: 20px;
	display: inline;
	background-color: #FFFFFF;
}

#banner .banner_left h1{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 17px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}

#banner .banner_left p{
	margin: 0px;
	padding: 0px;
	margin-top: 8px;
	color: #4c4c4c;
}

#banner .banner_left a.more{
	color: #dd0324;
	text-decoration: none;
	font-weight: bold;
}

#banner .banner_left a:hover{
	text-decoration: underline;
}

#banner .banner_left ul{
	margin: 0px;
	padding: 0px;
	float: left;
	list-style-image: none;
	list-style-type: none;
	margin-bottom: 8px;
}

#banner .banner_left ul li{
	float: left;
	margin-right: 10px;
	color: #dd0324;
}

#banner .banner_left ul li a{
	color: #dd0324;
	text-decoration: none;
}

#banner .banner_left ul li a.active{
	color: #000;
	font-weight: bold;
}

#banner .banner_left ul li a:hover{
	text-decoration: underline;
}

#banner .banner_right{
	float: left;
	margin: 0px;
	padding: 0px;
	width: 714px;
	display: inline;
}

#banner_right img{
	float: left;
	margin: 0px;
	padding: 0px;
	display: inline;
}

/* main
---------------------------------------------------------- */

#subnav{
	margin: 0px;
	padding: 0px;
	float: left;
	width: 968px;
	height: 35px;
	border: 1px solid #c3c3c3;
	background-image: url(img/bg_subnav.gif);
	background-repeat: repeat-x;
	list-style-image: none;
	list-style-type: none;
}

#subnav li{
	float: left;
	height: 36px;
	text-transform: uppercase;
	color: #000;
	font-size: 13px;
	position: relative;
	top: -1px;
}

#subnav li a{
	text-decoration: none;
	color: #000;
	font-family: "Helvetica", Verdana, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 11px;
	height: 24px;
	float: left;
	background-image: url(img/bg_subnav.gif);
	background-repeat: repeat-x;
	border-top: 1px solid #c3c3c3;
	border-right: 1px solid #c3c3c3;
}

#subnav li a.active{
	background-image: none;
	background-color: #fff;
	border-top: 1px solid #fff;
}

#subnav li a:hover{
	background-image: none;
	background-color: #fff;
}

/* main
---------------------------------------------------------- */

#main {
	float: left;
	width: 970px;
	margin-top: 30px;
}

/* content
---------------------------------------------------------- */

#content {
	float: left;
	width: 734px;
	display: inline;
	margin: 0 50px 0 0;
	padding: 0px;
	color: #4c4c4c;
}

#content h1{
	font-family: "Helvetica", Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 24px;
	margin: 0px;
	padding: 0px;
}

#content h2{
	font-size: 20px;
	font-weight: normal !important;
	font-family:"Helvetica",Verdana,Arial,sans-serif;
    margin: 0 0 15px 0;
    padding:0;
	
	}
#content h2 a {
   color: #000;
   font-weight: normal !important;
}
	

#content h3{
	font-family: "Helvetica", Verdana, Arial, sans-serif;
	font-size: 17px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	margin-bottom: 15px;
}

#content .blockrow{
	float: left;
	border-bottom: 1px solid #c4c4c4;
}

#content .last{
	border: none;
}

#content .block{
	float: left;
	width: 256px;
	margin-top: 25px;
	padding-bottom: 20px;
}

#content .block h3{
	font-family: "Helvetica", Verdana, Arial, sans-serif;
	font-weight: normal;
	font-size: 17px;
	margin: 0px;
	padding: 0px;
	width: 180px;
}

#content .block p{
	margin-top: 5px;
	color: #dd0324;
	font-weight: bold;
}

#content-body ul {
	margin: 0px;
	padding: 0px;
	list-style-image: none;
	list-style-type: none;
}

#content-body ul li{
	background-image:url(img/bullet_listing.gif);
	background-repeat: no-repeat;
	background-position: 0px 6px;
	padding-left: 10px;
	margin-bottom: 2px;
}

#content .flright{
	float: right;
}

div.form{
	float: left;
	background-color: #FFFFFF;
	width: 742px;
	padding: 20px;
	padding-bottom: 40px;
	display: inline;
	border: 1px solid #ccc;
}

div.form h3{
	margin: 0px !important;
	padding: 0px !important;
}

div.form p{
	margin: 0px;
	padding: 0px;
}

div.form form{
	margin-top: 16px;
}

/* campus */

#content div.campus{
	float: left;
	width: 782px;
	min-height: 230px;
	border: 1px solid #c3c3c3;
	background-color: #FFFFFF;
	margin-top: 20px;
}

#content div.campus img{
	float: right;
}

#content div.campus div.content{
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	width: 350px;
	display: inline;
}

#content div.campus h3{
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
}

#content div.campus p{
	margin: 0px;
	padding: 0px;
	margin-bottom: 20px;
}

#content div.campus ul{
	margin: 0px;
	padding: 0px;
	list-style-image: none;
	list-style-type: none;
}

#content div.campus ul li{
	font-weight: bold;
	margin-bottom: 5px;
}

#content div.campus ul li, #content div.campus ul li a{
	font-weight: bold;
}

/* infodays */

#infodays{
	float: left;
	margin-top: 20px;
}

#content div.infoday{
	float: left;
	width: 784px;
	border-top: 1px solid #c3c3c3;
	padding-top: 20px;
	padding-bottom: 20px;
}

#content div.infoday ul{
	margin: 0px;
	padding: 0px;
	list-style-image: none;
	list-style-type: none;
}

#content div.infoday ul li{
	font-weight: bold;
	margin-bottom: 3px;
}

#content div.infoday ul li span{
	color: #d90223;
}

/* sidebar
---------------------------------------------------------- */

#sidebar {
	float: left;
	width: 172px;
	margin-left: 14px;
	display: inline;
}

#sidebar .block{
	float: left;
	width: 172px;
	display: inline;
	margin-bottom: 20px;
}

/* event block */

#sidebar .events .balloon_top, 
#sidebar .news .balloon_top, 
.block-aggregator .balloon_top {
	float: left;
	background: #efe5c3 url(img/bg_events_top.gif) no-repeat;
	width: 152px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
}

#sidebar .news .balloon_top,
.block-aggregator .balloon_top {
	background: #efe5c3 url(img/bg_news_top.gif)  no-repeat !important;
}

#sidebar .events .balloon_bottom,
#sidebar .news .balloon_bottom,
.block-aggregator .balloon_bottom {
	background: url(img/bg_events_bottom.gif) no-repeat;
	float: left;
	height: 30px;
	width: 172px;
}

#sidebar .news .balloon_bottom,
.block-aggregator .balloon_bottom {
	background: url(img/bg_news_bottom.gif)  no-repeat !important;
}

.block-aggregator  ul, .block-aggregator  li  {
  list-style: none !important;
  margin: 5px 0 0 0 !important;
  padding: 0 !important;
}

.block-aggregator  li  {

}

#sidebar .block ul{
	float: left;
	margin: 0 0 0 10px;
	padding: 0px;
	list-style-image: none;
	list-style-type: none;
}

#sidebar .block ul li{
	margin-top: 5px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	font-weight: bold;
}

#sidebar .block ul li span{
	font-style: italic;
	color: #000;
}

#sidebar .block ul li a{
	text-decoration: none;
}

#sidebar .block ul li a:hover{
	text-decoration: underline;
}

#sidebar .events ul li a{
	color: #008ea2;
}

#sidebar .news ul li a,
.block-aggregator ul li a {
	color: #ab7919;
}

#sidebar .block p{
	margin: 0px;
	padding: 0px;
	margin-top: 5px;
}

#sidebar .block p a{
	color: #d90223;
	text-decoration: none;
	font-weight: bold;
}

#sidebar .block p a:hover{
	color: #d90223;
	text-decoration: underline;
}

#sidebar .block h2, #sidebar .block h3  {
 margin:0;
 padding:0;
 text-transform:uppercase;
}
#sidebar .block h2, #sidebar .block h2 {
font-family:"Helvetica",Verdana,Arial,sans-serif;
font-weight:normal;
}
#sidebar .block h2 {
font-size:17px;
margin:0 0 15px;
padding:0;
}
#sidebar .block h3 {
font-size:13px;
margin: 10px 0 5px 0;
}


/* nav block */

#sidebar .nav ,
#block-menu-menu-shortlist  {
	border: 1px solid #c3c3c3;
	width: 168px;
	background-image: url(img/bg_block_nav.gif);
	background-repeat: repeat-x;
	background-position: top left;
	background-color: #e6e6e6;
	padding-top: 5px;
	padding-bottom: 15px;
	display: inline;
}

#sidebar .nav ul,
#block-menu-menu-shortlist ul {
	margin: 0px;
	padding: 0px;
	display: inline !important;
	float: left !important;
	margin-left: 15px !important;
}

#sidebar .nav ul li,
#block-menu-menu-shortlist ul li  {
	margin: 0px !important;
	padding: 0px !important;
	margin-top: 10px !important;
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	text-transform: uppercase !important;
	color: #474747 !important;
	font-weight: normal !important;
    list-style: none !important;
}

#sidebar .nav ul li a,
#block-menu-menu-shortlist  ul li a {
	color: #474747;
}

#sidebar .nav ul li a:hover, 
#block-menu-menu-shortlist ul li a:hover  {
	color: #000;
}

/* subscribe block */

#sidebar .subscribe,
#block-menu-menu-attention {
	background-color: #dd0324;
	font-size: 24px !important;
	font-family: "Helvetica", Verdana, Arial, sans-serif !important;
	width: 120px !important;
	padding: 15px 25px;
}

#sidebar .subscribe a,
#block-menu-menu-attention a {
	color: #fff !important;
	text-decoration: none !important;
}

#sidebar .subscribe a:hover,
#block-menu-menu-attention  a:hover {
	color: #e5e5e5 !important;
}

#block-menu-menu-attention li {
  list-style:none;
  margin:0;
  padding:0;
}

#block-menu-menu-attention li a {
	font-family: "Helvetica", Verdana, Arial, sans-serif !important;
	font-size: 24px !important;
    font-weight: normal;
}

#block-menu-menu-attention ul {
margin:0 !important;
padding:0;
}



.clear {
clear: all;
}

.decopic { 
border-top : 8px solid #C3C3C3;
border-bottom:8px solid #D90223;
clear:both;
margin:0 0 5px 5px;
}

li.collapsed {
list-style-image:url(img/menu-collapsed.png);
}
li.leaf {
list-style-image:url(img/bullet.gif);
}





/* footer
---------------------------------------------------------- */

#footer {
	float: left;
	width: 100%;
	background-image:url(img/bg_footer.gif);
	background-repeat: repeat-x;
	background-position: left top;
	padding-bottom: 35px;
}

#footer .footer_content{
	margin-left: auto;
	margin-right: auto;
	width: 970px;
	margin-top: 180px;
}


/*** footer menu styles ***/

ul.footmap-menu,
.footmap-menu ul {
/*Remove all spacings from the list items*/
	margin: 0;
	padding: 0;
	cursor: default;
	list-style-type: none;
	display: inline;
}

ul.footmap-menu  {
	display: table;
}
ul.footmap-menu > li.expanded {
	display: table-cell;
	position: relative;
	padding: 0 40px 0 0;
}

ul.footmap-menu  li.expanded a {
	font-weight: bold;
    color:#FFFFFF;
}

ul.footmap-menu li.expanded ul li a {
	font-weight: normal !important;
color:#B3B3B3 !important;
font-size:11px !important;
}

ul.footmap-menu {
	display: table;
/*Just add the following properties and values*/
	width: 100%;
	table-layout: fixed;
}

ul.footmap-menu li.expanded ul li {
 list-style: none;
 padding: 4px 0 0 0;
}

.footmap-menu ul li a  {
/*Make the hyperlinks as a block element, sort of a hover effect*/
	display: block;
	padding: 0;
}

#footer .block-menu {
  margin: 0 0 20px 0;
}
/*** Menu colors (customizable) ***/

ul.footmap-menu a {
  color: #fff !important;
}

#footer-message {
  margin: 20px 0 0 0;
  color: #B3B3B3;
}
#footer-message a, #footer .content a {
  color: #B3B3B3 !important;
  font-weight: bold;
}
#footer .content {
  color: #B3B3B3;
}
#footer .header h2 {
  color: #B3B3B3;
  font-size: 13px;
  padding: 3px 0 0 0;
  margin: 0;
}
#footer .header  {
display: inline;
float: left;
margin: 0 20px 0 0;
}
#footer p {
  padding: 0;
  margin: 0;

}

.node {
margin: 0 0 10px 0;
}