/* 
Title:		Print stylesheet
Description:	Print specific styles
Created:	19/06/2009
Modified:	19/06/2009
*/

body {
    font-family: Verdana, sans-serif;
    font-size: 12px;
	color: #000;
	padding: 0px;
	margin: 0px;
}

h1, h2, h3, h4 {
	 font-family: Verdana, sans-serif;
	 float: left;
	 width: 100%;
}

h1{
	font-size: 20px;
	margin: 0px;
	padding: 0px;
}

h2{
	font-size: 17px;
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
}

h3{
	font-size: 14px;
	margin-bottom: 10px;
}
	
a:link, a:visited {
    color: #dd0324;
}	

a img{
	border: none;
}

table {
	color: #4c4c4c;
	font-size: 11px;
	border: 1px solid #ccc;
	width: 100%;
}

th {
	text-align: left;
	font-weight: bold;
	background-color: #e8e8e8;
	height: 30px;
	padding-left: 20px;
}

td {
	height: 30px;
	font-size: 12px;
	padding-left: 20px;
}

td a{
	color: #dd0324;
	text-decoration: none;
	font-weight: bold;
}

td a:hover{
	text-decoration: underline;
}

address {
    margin: 0px;
    padding: 0px;
    font-style: normal;
	float: left;
	border-top: 1px solid #ccc;
	width: 100%;
	margin-top: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
}

address a{
	font-weight: bold;
}

address strong{
	font-size: 17px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	margin-bottom: 15px;
}

/* layout */

#main{
	margin-top: 20px;
	float: left;
	width: 100%;
}

#content{
	float: left;
	width: 100%;
}

#content .flright{
	display: none;
}

/* homepage */

div.block{
	border-bottom: 1px solid #ccc;
	float: left;
	width: 210px;
	margin-top: 20px;
	padding-bottom: 20px;
}

div.block h3{
	margin: 0px;
	padding: 0px;
}

div.block p{
	margin: 0px;
	padding: 0px;
}

div.block ul{
	margin: 0px;
	padding: 0px;
	margin-top: 10px;
	margin-left: 0px;
	list-style-image: none;
	list-style-type: none;
}

/* campus page */

div.campus{
	border: 1px solid #ccc;
	margin-bottom: 20px;
	width: 650px;
}

div.campus div.content{
	float: left;
	width: 305px;
	padding-left: 20px;
	padding-top: 20px;
}

div.campus div.content h3{
	margin: 0px;
	padding: 0px;
}

div.campus div.content p{
	margin: 0px;
	padding: 0px;
}

div.campus div.content ul{
	margin: 0px;
	padding: 0px;
	float: left;
	list-style-image: none;
	list-style-type: none;
}

div.campus img{
	width: 50%;
	height: 50%;
	margin: 0px;
	padding: 0px;
}

/* infodays */

#content div.infoday{
	border-top: 1px solid #c3c3c3;
	padding-top: 10px;
	padding-bottom: 10px;
}

#content div.infoday ul{
	margin: 0px;
	padding: 0px;
	list-style-image: none;
	list-style-type: none;
}

#content div.infoday ul li{
	font-weight: bold;
	margin-bottom: 3px;
}

#content div.infoday ul li span{
	color: #d90223;
}

/* contact */

form, div.form{
	display: none;
}

/* hide divs that don't need to be printed */

#related_info{
	display: none;
}

#top{
	display: none;
}

#sidebar{
	display: none;
}

#footer{
	display: none;
}
#header, #tabs-wrapper {
	display: none;
}
